
<div id="model_page">

<p class="model"><b>Model</b></p>
  
<p class="model_name"><b> Nome</b></p>

<p class="name">CNN1test1.keras</p>


<p class="model_info"><b> Parametri dataset</b></p>

<p class="info_1">image_size = (299, 299)</p>

<p class="info_2">batch_size = 128</p>



<p class="model_base"><b> Dati del modello base</b></p>

<p class="base_1">input_shape=image_size + (3,)</p>

<p class="base_2">include_top=False</p>

<p class="base_3"> weights='imagenet'</p>



<p class="model_full"><b>Dati del modello finale</b></p>

<p class="full_1">tf.keras.layers.GlobalAveragePooling2D()</p>

<p class="full_2">tf.keras.layers.Dense(512, activation='relu')</p>

<p class="full_3">tf.keras.layers.Dropout(0.5)</p>

<p class="full_4">tf.keras.layers.Dense(7, activation='softmax')</p>

</div>