
<div id="homepage">

<p class="model"><b>Dashboard</b>

<div *ngIf="chartOptions1">
<highcharts-chart
    [Highcharts]="Highcharts" 
    [options]="chartOptions1"
    style="width: 400px; height: 300px; display: block; margin-top: 2%; margin-left: 9%;">
</highcharts-chart>
</div>

<hr>

<p class="acc"><b>Accuracy Scores</b></p>

<div class="grid-container">
  <div class="grid-item">
    <p class="name"><b>Basalt :</b></p>
    <p class="namel">{{confidenceMap.get("Basalt")}}%</p>
  </div>
  <div class="grid-item">
    <p class="name"><b>Coal :</b></p>
    <p class="namel">{{confidenceMap.get("Coal")}}%</p>
  </div>
  <div class="grid-item">
    <p class="name"><b>Granite :</b></p>
    <p class="namel">{{confidenceMap.get("Granite")}}%</p>
  </div>
  <div class="grid-item">
    <p class="name"><b>Limestone :</b></p>
    <p class="namel">{{confidenceMap.get("Limestone")}}%</p>
  </div>
  <div class="grid-item">
    <p class="name"><b>Marble :</b></p>
    <p class="namel">{{confidenceMap.get("Marble")}}%</p>
  </div>
  <div class="grid-item">
    <p class="name"><b>Quartzite :</b></p>
    <p class="namel">{{confidenceMap.get("Quartzite")}}%</p>
  </div>
  <div class="grid-item">
    <p class="name"><b>Sandstone :</b></p>
    <p class="namel">{{confidenceMap.get("Sandstone")}}%</p>
  </div>
  <div class="grid-item">
    <p class="name"><b>Totale :</b></p>
    <p class="namel">{{confidenceMap.get("Total")}}%</p>
  </div>
</div>

<div class="vl"></div>

<highcharts-chart
    [Highcharts]="Highcharts" 
    [options]="chartOptions2"
    style="width: 400px; height: 300px; display: block; top: 10%; right: 5%; position: absolute">
  </highcharts-chart>


  <div class="predict">
    <p class="pred_label"><b>Prediction</b></p>
    <div class="card-container">
      <div *ngFor="let pred of pred.slice(0,2)">
    <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Id: {{pred.id}}</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <p>Confidence: {{pred.confidence | number: '1.2-2'}} %</p>
      <p>Label: {{pred.label}}</p>
    </mat-card-content>
    <br>
    <mat-card-footer>
      <p class="date">{{pred.createTime.split("T")}}</p>
    </mat-card-footer>
  </mat-card>
</div>
</div>

  </div>











</div>