<p class="model"><b>Model Analytics</b>

  
  <div id="charts" style="display: flex; justify-content: space-between;">

  <highcharts-chart
    [Highcharts]="Highcharts" 
    [options]="chartOptions1"
    style="width: 480px; height: 350px; display: block; margin-top: 110px; margin-left: 11%;">
  </highcharts-chart>

  <highcharts-chart 
    [Highcharts]="Highcharts" 
    [options]="chartOptions2"
    style="width: 480px; height: 350px; display: block; margin-top: 110px; margin-right: 13%;">
  </highcharts-chart>

</div>





