@import url("https://code.highcharts.com/css/highcharts.css");

.model{
    padding-left: 7%;
    padding-top: 2%;
    font-size: 18px;
}


.mat-mdc-tab-group, .mat-mdc-tab-nav-bar{
    --mdc-tab-indicator-active-indicator-color: #3eb6b4;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    color: #7b72ac;
}

.mat-mdc-tab .mdc-tab__text-label, .mat-mdc-tab-link .mdc-tab__text-label {
    color: #d6cfff;
}

.mat-mdc-card-image{
    width: 100px;
    height: 100px;
}


.cont{
    display: flexbox;
}


.charts{
    padding-top: 1%;
    padding-left: 25%;
    
}

.photo{
    width: 100px;
    height: 100px;
}

.card-container{
    display: flex;
    gap: 16px;
}


mat-paginator {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  