<div id="desc_page">

<p class="model"><b>Modify Description</b>


<p class="bs"><b>Basalt</b></p> 
  
<p class="co"><b>Coal</b></p>

<p class="gr"><b>Granite</b></p>

<p class="lm"><b>Limestone</b></p>

<p class="ma"><b>Marble</b></p>

<p class="qu"><b>Quartzite</b></p>

<p class="sd"><b>Sandstone</b></p>



    <mat-form-field class="bsdesc">
        <mat-label>Description</mat-label>
        <input matInput required ngModel>
      </mat-form-field>
      
      <mat-form-field class="codesc">
        <mat-label>Description</mat-label>
        <input matInput required ngModel>
      </mat-form-field>
      
      <mat-form-field class="grdesc">
        <mat-label>Description</mat-label>
        <input matInput required ngModel>
      </mat-form-field>
      
      <mat-form-field class="lmdesc">
        <mat-label>Description</mat-label>
        <input matInput required ngModel>
      </mat-form-field>
      
      <mat-form-field class="madesc">
        <mat-label>Description</mat-label>
        <input matInput required ngModel>
      </mat-form-field>
      
      <mat-form-field class="qudesc">
        <mat-label>Description</mat-label>
        <input matInput required ngModel>
      </mat-form-field>
   
      <mat-form-field class="sddesc">
        <mat-label>Description</mat-label>
        <input matInput required ngModel>
      </mat-form-field>

      <button class="btn" mat-raised-button>Save</button>

</div>