<div id="desc_page">

<p class="model"><b>Modify Description</b>

<div class="mff">
  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selected" required ngModel>
      <mat-option>None</mat-option>
      <mat-option value="Basalt">Basalt</mat-option>
      <mat-option value="Coal">Coal</mat-option>
      <mat-option value="Granite">Granite</mat-option>
      <mat-option value="Limestone">Limestone</mat-option>
      <mat-option value="Marble">Marble</mat-option>
      <mat-option value="Quartzite">Quartzite</mat-option>
      <mat-option value="Sandstone">Sandstone</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div class="text-area">
  <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
  <ngx-editor [editor]="editor" formControlName="editorContent">
  </ngx-editor>
  <textarea [(ngModel)]="editorData" required ngModel></textarea>
</div>

<button class="btn" mat-stroked-button (click)="onSubmit()">Save</button>

<div *ngIf="successMessage" class="alert">
  <p>{{ successMessage }}</p>
</div>

<div *ngIf="errorMessage" class="alert">
  <p>{{ errorMessage }}</p>
</div>


</div>