@import url("https://code.highcharts.com/css/highcharts.css");

.model{
    padding-left: 7%;
    padding-top: 2%;
    font-size: 18px;
}


.mff{
    position:absolute;
    padding-left: 35%;
    padding-top: 5%;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #3eb6b4;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #3eb6b4;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: #7b72ac;
}

.mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: #7b72ac;
}

.mat-mdc-select-arrow {
    color: #3eb6b4;
}

.text-area{
    position:relative;
    margin-left: 37%;
    margin-top: 20%;
    
}

.btn{
    position: relative;
    margin-left: 41%;
    margin-top: 5%;
}

