<div id="desc_page">

<p class="model"><b>Modify Description</b>


<p class="bs"><b>Basalt</b></p> 
  
<p class="co"><b>Coal</b></p>

<p class="gr"><b>Granite</b></p>

<p class="lm"><b>Limestone</b></p>

<p class="ma"><b>Marble</b></p>

<p class="qu"><b>Quartzite</b></p>

<p class="sd"><b>Sandstone</b></p>


<form #descform="ngForm" (ngSubmit)="onSubmit(descform)">

    <mat-form-field class="bsdesc">
        <mat-label>Description</mat-label>
        <input matInput name="bsdesc" required ngModel [(ngModel)]="desc[0]">
      </mat-form-field>
      
      <mat-form-field class="codesc">
        <mat-label>Description</mat-label>
        <input matInput name="codesc" required ngModel [(ngModel)]="desc[1]">
      </mat-form-field>
      
      <mat-form-field class="grdesc">
        <mat-label>Description</mat-label>
        <input matInput name="grdesc" required ngModel [(ngModel)]="desc[2]">
      </mat-form-field>
      
      <mat-form-field class="lmdesc">
        <mat-label>Description</mat-label>
        <input matInput name="lmdesc" required ngModel [(ngModel)]="desc[3]">
      </mat-form-field>
      
      <mat-form-field class="madesc">
        <mat-label>Description</mat-label>
        <input matInput name="madesc" required ngModel [(ngModel)]="desc[4]">
      </mat-form-field>
      
      <mat-form-field class="qudesc">
        <mat-label>Description</mat-label>
        <input matInput name="qudesc" required ngModel [(ngModel)]="desc[5]">
      </mat-form-field>
   
      <mat-form-field class="sddesc">
        <mat-label>Description</mat-label>
        <input matInput name="sddesc" required ngModel [(ngModel)]="desc[6]">
      </mat-form-field>

      <button class="btn" type="submit" mat-raised-button>Save</button>

    </form>

</div>