/* You can add global styles to this file, and also import other style files */
@import url("https://code.highcharts.com/css/highcharts.css");

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Dark mode */

body.dark-mode .highcharts-background{
    background-color: black;
}

body.dark-mode .mat-drawer-container{
    background-color: black;
}

body.dark-mode .drawer{
    background-color: rgb(48, 46, 46);
}

body.dark-mode .page_item.active,
body.dark-mode .page_item:hover{
    background-color: rgb(77, 61, 87);
}

body.dark-mode #model_page p{
    color: white;
}

body.dark-mode .highcharts-background{
    fill: black!important;
}

body.dark-mode .model{
    color:white;
}

body.dark-mode #homepage p{
    color: white;
}

body.dark-mode .vl{
    border-left: 1px solid rgb(252, 255, 252);
}

body.dark-mode #desc_page p{
    color: white;
}

body.dark-mode .btn {
    background-color:rgb(48, 46, 46);
}

body.dark-mode .mat-mdc-outlined-button:not(:disabled) {
    color: white;
}


body.dark-mode .mat-mdc-card {
    --mdc-elevated-card-container-color: rgb(48, 46, 46);
}

body.dark-mode .mat-mdc-paginator{
    background: black;
    color: white;
}

body.dark-mode .mat-mdc-select-value {
    color: white;
}

body.dark-mode .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: rgb(48, 46, 46);
}

body.dark-mode .mat-mdc-option {
    color: white;
}

body.dark-mode .cdk-overlay-pane:not(.mat-mdc-select-panel-above) .mdc-menu-surface.mat-mdc-select-panel {
    background: rgb(48, 46, 46);
}

body.dark-mode textarea{
    background-color: rgb(48, 46, 46);
    color:white;
}


body.dark-mode .mat-mdc-paginator-icon {
	fill: white;
}


/* Light mode*/

body {
    background-color: white;
}

.highcharts-background{
    fill: white !important;
}

.highcharts-markers,
.highcharts-column-series,
.highcharts-series-hover,
.highcharts-point-hover,
.highcharts-crosshair,
.highcharts-crosshair-category,
.highcharts-tracker{
    fill: white;
}

.mat-drawer-container {
    background-color: white ;
}

.drawer{
    background-color: rgba(240, 240, 240, 0.986) ;
}

.page_item.active,
.page_item:hover{
    background-color: #d6cfff ;
}

#model_page p{
    color: black;
}

#homepage p{
    color: black;
}

.mat-mdc-card {
    --mdc-elevated-card-container-color: #9de6e4;
}